@charset "UTF-8";
#section1{
    margin: 15%;
    width:70%;
    text-align: center;
}

.box{
    width :30%;
    margin :2px;
    padding-top: 10%;
    font-size : 15px;
    text-align:center;
    
    padding-bottom: 10%;
    float: left;
    border-radius: 20px;
    
    cursor:pointer;
    transform:scale(1);
    transition:.3s;
    position: relative;
	background: rgb(255, 255, 255);
}
#box5,#box23,#box59,#box77,#box14,#box32,#box50,#box68,#box41{
  background-color: #FFB300;
  font-size: 20px;
  font-weight: bold;
  }

.box:hover {
    transform:scale(1.3);
    z-index:9;
    position: relative;
}

.con{
  height :25px;
  overflow-wrap: break-word;
}