@charset "UTF-8";
select {
width: 30%;
padding: .8em .5em;
border: 1px solid #999;
font-family: inherit;
background: url('../images/arrow.jpg') no-repeat 95% 50%;
background-color:white;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

select::-ms-expand {
    display: none;
}